body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  margin: auto;
  width: 80%;
  text-align: center;
}

main {
  width: 30%;
  margin: auto;
  background-color: rgb(130, 213, 238);
  border-radius: 10px;
}
main h2 {
  padding-top: 30px;
}
form {
  padding: 20px 0;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.number {
  width: 112px;
}

.number,
.result {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.operators {
  display: flex;
  justify-content: space-around;
}

.operator {
  padding: 1px 15px;
  font-size: 30px;
  border: none;
  background-color: rgb(245, 188, 82);
  border-radius: 5px;
  cursor: pointer;
}

.reset {
  padding: 10px;
  border: none;
  background-color: rgb(255, 145, 0);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.operator:active,
.reset:active {
  opacity: 0.5;
}
